<nav class="header-nav">
  <ul class="header-nav__list">
    <li>
      <a class="header-nav__link"
         routerLink="./shop"
         routerLinkActive="header-nav__link--active"
         [routerLinkActiveOptions]="{ exact: true }">
        Shop
      </a>
    </li>
    <li>
      <a class="header-nav__link"
         routerLink="./cart"
         routerLinkActive="header-nav__link--active"
         [routerLinkActiveOptions]="{ exact: true }">
        Cart
      </a>
    </li>
    <li>
      <a class="header-nav__link"
         routerLink="./blog"
         routerLinkActive="header-nav__link--active"
         [routerLinkActiveOptions]="{ exact: true }">
        Blog
      </a>
    </li>
    <li>
      <a class="header-nav__link"
         routerLink="./account"
         routerLinkActive="header-nav__link--active"
         [routerLinkActiveOptions]="{ exact: true }">
        Account
      </a>
    </li>
  </ul>
</nav>
