.header-nav {
  &__list {
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 20px;
    display: flex;
  }

  &__link {
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #555555;

    &:active, &--active {
      color: #2B7CD3;
    }
    &:hover, &:focus {
      color: #fbbf24;
    }
  }
}
