.page-header {
  padding: 1.5rem;
  
  &__nav {
    flex-grow: 1;
    display: none;
  }

  &__title {
    color: #2B7CD3;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 8px rgba(0, 0, 0, 0.08);
    flex-grow: 1;

    &-highlight {
      color: #fbbf24;
    }
  }

  &__top {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    &__nav {
      display: block;

      &--mobile {
        display: none;
      }
    }

    &__title {
      flex-grow: initial;
    }
  }
}
