@if (cartItem) {
  <li class="cart-item">
    <h3>{{cartItem.product.name}}</h3>
    <p>{{cartItem.product.description}}</p>
    <p>
      <strong>Quantity: </strong><span>{{cartItem.quantity}}</span>
    </p>
    <p>
      <strong>Color: </strong><span>{{cartItem.color}}</span>
    </p>
    <p>
      <strong>Price: </strong><span>{{calculateTotalPrice() | currency:'USD'}}</span>
    </p>
    <app-button class="cart-item__remove"
                buttonSize="xs"
                label="✖ &nbsp; Remove Item"
                (click)="removeItem()"
    >
    </app-button>
  </li>
}

