<div class="shopping-cart">
  <h2 class="shopping-cart__title">Shopping Cart with Signal Store</h2>

  @if (currentCartList()) {
    <ul class="shopping-cart__list">
      @for (item of currentCartList(); track item.product.id) {
        <app-cart-item
          class="shopping-cart__item"
          [cartItem]="item"
          (remove)="removeItemFromCart($event)"
        >
        </app-cart-item>
      }
    </ul>
  } @else {
    <p>Loading...</p>
  }
  
  <app-button class="shopping-cart__add" (click)="addItemToCart()" label="Add New Item" ></app-button>
</div>
