.cart-basket {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__icon {
    width: 40px;
  }

  &__text {
    display: inline-block;
    margin: 5px 0 0 5px;
  }

  &__count {
    border: 1px solid #E0E0E0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 4px 8px rgba(0, 0, 0, 0.08);
    background-color: #fbbf24;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    position: absolute;
    right: 25px;
    top: -20px;
    font-weight: 600;
  }
}
